In [1]:
print("sathish")

sathish

In [3]:
a=3
b=3.5
c='sathish'
d=3+5j
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [4]:
a=[1,2,3,4]
b=(1,2,3,4)
c={1,2,3,4}
d={2:3}
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [5]:
name='sathish'
print(name[4])

i

In [6]:
a='123'
b=int(a)

In [7]:
print("sathish")

sathish

In [8]:
a=123
b=str(a)

In [9]:
print("sathish")

sathish

In [10]:
str(123)

'123'

In [12]:
print('he is {} years old'.format(21))

he is 21 years old

In [13]:
str(123.45)

'123.45'

In [14]:
int(6.6)

6

In [15]:
float(5)

5.0

In [21]:
name='mike'
age=21
if name=='peter':
   print("hi,peter")
elif age<25:
   print('your age is less than 25')
name='mike'
age=30
if name=='peter':
    print("hello,peter")
elif age<21:
    print("your ahge is less than 20")
else:
    print("your age is more than 21")

your age is less than 25
your age is more than 21

In [ ]:
myStatus=input()
print('nice to meet you,{}'.format(myStatus))

In [ ]:
mystatus=input()
print("nice to meet you,{}".format())